@import '../core/variables.scss';

header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.title {
  text-align: left;
  font-weight: bold;
}

.btn-yellow{
   padding: 0.2rem 1rem;
   margin: 0.2rem;
   border-radius: 1rem;
   &:hover{
    background-color: $primary !important;
  }
}
.submenu-rigth{
  &__button{
    margin: 0 -1rem;
    padding: 0 2rem;
  }
}
.btn-line{
  &:hover{
    border-right: solid 0.5rem $primary;
  }
}
.selected-link {
  color: $primary;
  font-weight: bolder;
  font-size: larger;
}
.user{
  width: 40px;
}

