@import "../core/variables.scss";
@import "../core/mixins.scss";

header {
  display: flex;
  // font-size: smaller;
  // font-size: calc(0.5rem + 1.5vw);
  // justify-content: space-evenly;
  padding: 0px;
  @include tablet{
  justify-content: space-evenly;
  margin-bottom: 3rem;
  }
}
.left-section {
  &--title {
    text-align: left;
    font-weight: bold;
    min-width: max-content;
  }
}

.right-section {
  text-align: right;
  .form{
    justify-content: end;
  }
  &--btn {
    transform: scale(2);
  }
  &--user {
    width: 40px;
    margin-left: 0.5rem;
  }
  &submenu {
    &__button {
      margin: 0 -1rem;
      padding: 0 2rem;
    }
  }
}

.btn-yellow {
  padding: 0.2rem 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  &:hover {
    background-color: $primary;
  }
}

.btn-white {
  background-color: white;
}
