@import "../core/variables.scss";
@import "../core/mixins.scss";

header {
  display: flex;
  flex-direction: column;
  padding: 0px;
  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  @include desktop {
     margin-bottom: 2rem;
    }
}
.left-section {
  text-align: center;
  @include tablet {
    text-align: left;
    font-size: 0.8rem;
  }
   @include desktop {
      font-size: 1rem;
    }
  &--title {
    font-weight: bold;
    width: 100%;
    @include tablet {
      min-width: max-content;
      font-size: 1.4rem;
    }
     @include desktop {
      font-size: 2rem;
    }
  }
}

.right-section {
  text-align: center;
  margin: 1rem 0;
  @include tablet {
    margin: 0;
    font-size: 0.8rem;
    --bs-gutter-x: 0;
  }
   @include desktop {
    text-align: right;
      font-size: 1rem;
    }
  .form {
    justify-content: end;
    transform: scale(0.8);
    @include tablet {
      justify-content: end;
      transform: scale(0.7);
    }
    @include desktop {
      transform: scale(1);
    }
  }
  &--btn {
    transform: scale(2);
  }
  &--user {
    width: 40px;
    margin-left: 0.5rem;
  }
  &submenu {
    &__button {
      margin: 0 -1rem;
      padding: 0 2rem;
    }
  }
}

.btn-yellow {
  padding: 0.2rem 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  &:hover {
    background-color: $primary;
  }
}

.btn-white {
  background-color: white;
}
