@import '../core/variables.scss';

.nav{
  height: 100vh;
  background-color: $secondary;
  width: max-content;
  padding-top: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-between
;
.btn-line{
  &:hover{
    border-right: solid 0.5rem $primary;
  }
}
  .first-el{    
    margin-top: 2rem;
    margin-bottom: 2rem;
    .logo{
      background-color: white;
      
    }
  }
  .penultimate-el{
    margin-top: 5rem;
  }
  .last-el{
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
}
