@import '../core/variables.scss';

ul {
  padding-left: 0px;
}

.column {
  padding: 1rem;
  &__title {
    padding: 0 1rem;
  }
  .list-btn {
    float: right;
    background-color: white;
    &:hover{
      background-color: $primary;
      color: white;
    }
  }
}
