@import '../core/mixins.scss';


.inner-addon {
  position: relative;
  input {
  border-radius: 1rem;
  }
  .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }


}

.left-addon {
  .fas {
    left: 0px;
  }
  input {
  padding-left: 30px; 
  }
}


.right-addon {
  .fas {
  right: 0px;
  }

   input {
  padding-right: 30px;
  }
}