@import '../core/variables.scss';
@import "../core/mixins.scss";


#root{
  padding-left: 2rem;
   @include tablet {
      padding-left: 0;
    }
}
button {
  border: none;
   &:hover{
    opacity: 0.8;
  }
}

.hidden{
  display: none;
}

.selected{
   background-color: $primary;
}

.disabled{
  opacity: 0.9;
  color: rgb(189, 187, 187);
}